<app-navbar></app-navbar>


<div class="container-fluid">

  <div class="row">
    <div class="col-4">
      <div class="cardCont">
        <app-card-device [device]="deviceInfo"></app-card-device>
      </div>
    </div>

    <div class="col-8">
      <div class="cardCont">
        <div class="row justify-content-end">
          <div class="col-4" *ngFor="let conector of conectorsInfo">
            <app-card-conector [device]="conector"></app-card-conector>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div class="cardCont">
        <app-card-power-params [device]="devicePowerParams"></app-card-power-params>
      </div>
    </div>
  </div>


</div>
